doctype html
html
    head
        title Index Page
        style.
            * {
                margin: 0px;
                padding: 0px;
            }
            h1 {
                color: red;
            }
    body
        // JADE String
        #header
            h1 Hello jade .. !
            h2 Loram ipsum
        hr
        .article
            a(href="http://hanbit.co.kr", data-test="multiple Attribute") Go To Hanbit Media
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script.
            $(document).ready(function() {
                var alpha = 10;
            });
